*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --body-bg-color: #0D0D0D;
  --inner-bg-color: #D9D9D9;
  --logo-color: #000000;
  --secondry-text-color: #fff;
  --secondry-heading-color: #fff;
}
:root body.light-theme{
--body-bg-color: #D9D9D9;
--inner-bg-color: #0a0909;
--logo-color: #D9D9D9;
--secondry-text-color: #fff;
--secondry-heading-color: #fff;
}
body{
  background-color: var(--body-bg-color);
  color: var(--body-bg-color);
}